.App {
  text-align: center;  
}

.App-header {
  background-color: #225A92;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(231, 221, 221);

  border: 4px solid #4976AE;
  border-radius: 6px;
}

.App-link {
  color: #E7EAF1;
}




