* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  background-color: #0d1006;
  color: antiquewhite;
  letter-spacing: 3px;
  font-size: 16px;
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
}

li {
  list-style: none;
  background-color: #115e11;
}

form {
  padding: 5px 5px 15px;
}

input {
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0a0a2e40;
  color: white;
  letter-spacing: 2.2px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #b1243152;
}



.dark-bg {
 background-color: rgb(42, 42, 42);
}

.hero h2 {
  letter-spacing: 5px;
}

.form-wrapper, .calculations-wrapper {
  border-top: 6px solid #0e8177;
  margin: 8px;
  border-radius: 10px;
}


.history-wrapper {
  border: 2px solid #f1f19c;
  border-top: none;
  border-bottom: none;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 200px;
}

.history-wrapper p {
  margin: 10px 0px;
  letter-spacing: 2px;
}
.invisible {
  display: none;
}

