body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.history {
  border: 3px solid grey;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.invisible {
  display: none;
}

.paymentsContainer {
  background-color: rgb(42, 42, 42);
}